*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    background-color: #272323;
    color: #f3f3f3;
}
#nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    top: 17px;
    position: fixed;
    width: 100%;
}
#nav h3{
    background-color: black;
    color: #fff9f9;
    font-size: 23px;
    font-weight: 470;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid rgb(15, 1, 1);
    border-radius: 50px;
}

#intro{
    height: 100vh;
    width: 100%;
    padding: 60px 70px;
    background-color: #272323;
    color: #f3f3f3;
}
#intro h1{
    font-size: 140px;
    font-weight: 600;
    letter-spacing: -5px;
    line-height: 140px;
    gap: -15px 10px;
}
#intro2{
    position: absolute;
    display: flex;
    padding-top: 25px;
    font-size: 28px;
    justify-content: space-between;
    z-index: 1;
}
#scrolldown{
    padding-left: 950px;
}
#intro2 h3{
    font-weight: 500;
}
#photo{
    position: relative;
    height: 70vh;
    width: 100vw;
    /* object-fit:cover; */
    overflow: hidden;
    top:100px;
    /* background-image: url(https://assets-global.website-files.com/64589fb989b2b33c593db89d/6458a6db645ec6a527000cfa_home-hero-p-2000.webp);
    background-size: cover; */
    transform: translateX(-70px);
    z-index: 1;
}
#photo img{
    /* display: block; */
    position: absolute;
    scale: 1;
    transition: all 0.05s ease;
    
    /* will-change: transform; transform: translate3d(0px, 7.9016%, 0px) scale3d(1.2, 1.2, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d; */
}
#about{
    display: flex;
    margin: 60px 50px;
    
}
#dig{
    width: 65%;
    height: 60vh;
    padding-right: 45px;
    padding-left: 20px;
    font-size: 70px;
    font-weight: 500;
    line-height: 90px;
}
#about_me{
    width: 35%;
    border-left: 2px solid black;
    height: 60vh;
    padding-left: 80px;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#about2{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin:60px 50px;
    height: 85vh;
    margin-bottom: 40px;
}
#icons i{
    background-color: black;
    color: white;
    font-size: 25px;
    border-radius: 40px;
    padding: 10px;
}
#about2{
    display: flex;
}
#what{
    display: flex;
    width: 35%;
    margin:60px 0px;
    border-right: 2px solid black;
    justify-content: space-between;
    font-size: 32px;
    padding-right:60px ;
    font-weight: 500;
    position: sticky;
    top: 0px;
    
}
#work{
    display: flex;
    width: 65%;
    padding: 60px 60px;
    flex-direction: column;
}
#work_1{
    display: flex;
}
#work_2{
    display: flex;
}
#work1,#work2,#work3,#work4{
    font-size: 20px;
    width: 50%; 
    min-height: 50%;
}
#work1,#work3{
    margin-right: 90px;
}
#work2,#work4{
    border-left: 2.5px solid black;
    padding-left: 40px;
}
#work1,#work2{
    margin-bottom: 70px;
}
#work3,#work4{
    margin-top: 80px;
}
#work_1 p,#work_2 p{
      padding-top: 20px;
      color: rgb(104, 101, 101);
}
#work_1 h2,#work_2 h2{
    font-size: 40px;

}
#work_2{
    border-top: 3px solid black;
}
 .scrollThing{
    font-size: 150px;
  font-weight: 300;
  height: 40%;
  
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  transform: none;
  position: relative; /* or absolute, depending on the layout */
  left: 0;
} 
.scrollThing div {
    display: inline-block;
}
.scrollThing::-webkit-scrollbar{
    display: none;
}

.img1{
    height: 89vh;
    padding: 100px;
}
.img1 img{
    height: 100%;
    width: 100%;
}
.plates{
    display: flex;
    margin: 30px 0px;
    z-index: 1;
}
.title{
    width: 58%;
    font-size: 100px;
    padding-left: 4%;
}
.desc{
    width: 42%;
}
.desc1{
    font-size: 20px;
    padding: 30px;
    padding-left:4px ;
    margin-bottom: 20px;
    line-height: 30px;
    color:rgb(54, 45, 45) ;
}
.desc_buttons{
    display: flex;
}
.desc_buttons h3{
    background-color: black;
    color: #fff9f9;
    font-size: 15px;
    font-weight: 470;
    padding: 5px 10px;
    margin: 5px;
    border: 2px solid rgb(15, 1, 1);
    border-radius: 50px;
    
}
#noise{
    background-image: url(https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad129d3885d86c115c7f_project-02-p-2000.webp);
    background-size: cover;
}
#robot{
    background-image: url(https://assets-global.website-files.com/64589fb989b2b3e8783db8c8/645cad1988b7ca338942d0b3_project-03-p-2000.webp);
    background-size: cover;
}
.clients{
    display: flex;
    margin: 0px 60px;
    margin-top: 60px;
    margin-bottom: 60px;
    border-top: 2px solid black;
    padding-top: 60px;
    padding-left:0px ;
    height: 120vh;
    
}
.myclients{
    display: flex;
    width: 35%;
    padding-right: 40px;
    height: 15vh;
    top: 20px;
    position: sticky;

    justify-content: space-between;
}
.myclients i{
    font-size: 40px;
}
.myclients h3{
    font-size: 30px;
    font-weight: 500;
    
}
.reviews{
    width: 65%;
    display: flex;
    border-left: 2px solid black;
    flex-direction: column;
}
.review1{
    display: flex;
    margin-left: 60px;
}
.review2{
    display: flex;
    margin-left: 60px;
}
.review1 {
    border-bottom: 3px solid black;
    margin-bottom: 9.5vh;
    padding-bottom: 17.5vh;
}


.review1 div:nth-child(2){
    border-left: 3px solid black;
    padding-left: 60px;
}
.review2 div:nth-child(2){
    border-left: 3px solid black;
    padding-left: 60px;
}

.review1 div h3,.review2 div h3{
    font-size: 47px;
    font-weight: 450;
    margin-bottom: 20px;
    line-height: 50px;
}

.container1{
    width: 50%;
}
.container1 p{
    font-size: 20px;
    line-height: 30px;
    

}
.review1 div:nth-child(1),.review2 div:nth-child(1){
    padding-right: 45px;
    margin-right: 12px;

}
#connect{
    height: 70vh;
    background-color: rgb(30, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#connect h4,#connect h3{
    text-align: center;
    color: #f3f3f3;
}
#connect h4{
    font-size: 35px;
}
#connect h3{
    font-size: 140px;
}
#connect p{
    background-color: #f3f3f3;
    color: #272323;
    font-size: 20px;
    font-weight: 470;
    padding: 15px 30px;
    margin: 5px;
    max-width: 200px;
    border: 2px solid rgb(15, 1, 1);
    border-radius: 50px;
}
#niche{
    display: flex;
    background-color: rgb(30, 29, 29);
}
.foot h4{
    font-size: 20px;
    color: rgb(164, 155, 155);
    margin-bottom: 30px;
}
.foot h5{
    font-size: 20px;
    color: #f3f3f3;
    line-height: 50px;
}
#pages{
    margin-left: 50px;
}
#cms{
    margin-left: 28vw;
}
#utilitypag{
    margin-left: 25vw;
}
#lower{
    height: 13vh;
    background-color: rgb(30, 29, 29) ;
    color: #f3f3f3;
    text-align: center;
    padding-top: 40px;
    font-size: 20px;
}
#lower a {
text-decoration: none;
color: #f3f3f3;
text-decoration: underline;
font-weight: 600;
}
#markThing {
    /* ... */
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-out;
  }
  
#markThing.animate {
    opacity: 1;
    transform: translateY(0);
}
.dark{
    background-color: #f3f3f3;
    color: #272323;
}
#menubar{
    height: 100vh;
    width: 100%;
    background-color: #252222;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: -20;
    opacity: 0;
}
.visible{
    opacity: 1;
}
.menubar{
    text-align: center;
}
#contact{
    height: 100vh;
    width: 100%;
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #272323;
}